---
interface Props {
  objetCart: {
    name;
    category;
    price;
    image;
  };
}

const { objetCart } = Astro.props;

const { name, category, price, image } = objetCart;

const buttonStyles =
  "text-black relative border border-gray-500 bg-white h-12 rounded-full px-6 font-medium -translate-y-1/2 left-1/2 -translate-x-1/2 flex items-center justify-center gap-2";

const id = crypto.randomUUID();
---

<article id="dessert" class="w-full relative" data-id={id}>
  <figure>
    <img src={image.desktop} alt={name} class="rounded-md" />
  </figure>
  <button data-button-add-id={id} id="button-add" class=`${buttonStyles}`>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21"
      height="20"
      fill="none"
      viewBox="0 0 21 20"
      ><g fill="#C73B0F" clip-path="url(#a)"
        ><path
          d="M6.583 18.75a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM15.334 18.75a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM3.446 1.752a.625.625 0 0 0-.613-.502h-2.5V2.5h1.988l2.4 11.998a.625.625 0 0 0 .612.502h11.25v-1.25H5.847l-.5-2.5h11.238a.625.625 0 0 0 .61-.49l1.417-6.385h-1.28L16.083 10H5.096l-1.65-8.248Z"
        ></path><path
          d="M11.584 3.75v-2.5h-1.25v2.5h-2.5V5h2.5v2.5h1.25V5h2.5V3.75h-2.5Z"
        ></path></g
      ><defs
        ><clipPath id="a"
          ><path fill="#fff" d="M.333 0h20v20h-20z"></path></clipPath
        ></defs
      ></svg
    >Add to cart
  </button>
  <button
    data-button-quantity-id={id}
    id="button-add-selected"
    class="text-black relative border border-gray-500  h-12 rounded-full px-6 font-medium -translate-y-1/2 left-1/2 -translate-x-1/2 flex items-center justify-center gap-2 bg-red-500 border-none hidden"
  >
    <div class="flex items-center justify-between w-24" 
    >
      <div
        class="size-5 border-2 border-white flex justify-center items-center rounded-full hover:bg-white text-white hover:text-red-600"
        id="decrement"
      >
        <svg class="pointer-events-none" width="10" height="2" fill="none" viewBox="0 0 10 2">
          <path fill="currentColor" d="M0 .375h10v1.25H0V.375Z"></path>
        </svg>
      </div>
      <span class="quantity text-white">1</span>
      <div
        class="size-5 border-2 border-white flex justify-center items-center rounded-full hover:bg-white text-white hover:text-red-600"
        id="increment"
      >
        <svg class="pointer-events-none" width="10" height="10" fill="none" viewBox="0 0 10 10"
          ><path
            fill="currentColor"
            d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"
          ></path></svg
        >
      </div>
    </div>
  </button>
  <div>
    <p class="category text-gray-400">{category}</p>
    <p class="font-bold name">{name}</p>
    <p class="text-xl text-orange-400">
      $<span class="price">{price.toFixed(2)}</span>
    </p>
  </div>
</article>
